body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
li{
  /* color:blue; */
  color: red;
  padding: auto;
  margin-left: 100px;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;

}
